<%= form_for :user, url: user_path, method: :patch do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this user from being edited:</h2>
    <ul>
    <% @users.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
      <%= f.label :label %><br>
      <%= f.text_field :label %>
  </p>

  <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </p>
  
  <p>
      <%= f.label :age %><br>
      <%= f.text_field :age%>
  </p>

  <p>
      <%= f.label :major %><br>
      <%= f.text_field :major%>
  </p>

  <p>
      <%= f.label :gender %><br>
      <%= label_tag "male" %>
      <%= f.radio_button :gender, "male" %><br>
      <%= label_tag "female" %>
      <%= f.radio_button :gender, "female" %>
  </p>

 
   <p>
    <%= f.submit %>
  </p>
<% end %>
