<h1>Register</h1>
<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |e| %>
        <li><%= e %></li>
    <% end %>
    </ul>
<% end %>
<%= form_for @user, url: users_path do |f| %>
  <p>
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </p>

  <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "repeat password" %><br>
    <%= f.password_field :password_confirmation %>
  </p>
   <p>
    <%= f.submit %>
  </p>
<% end %>
